<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.devepos.adt.saat.dbbrowser.commands.category"
            id="com.devepos.adt.saat.dbbrowser.command.openInDbBrowser"
            name="%command.openindbbrowser.name">
         <commandParameter
               id="com.devepos.adt.saat.openindbbrowser.skipSelscreenParam"
               name="skipSelscreen"
               optional="false"
               values="com.devepos.adt.saat.internal.handlers.OpenInDbBrowserParamValues">
         </commandParameter>
      </command>
      <category
            id="com.devepos.adt.saat.dbbrowser.commands.category"
            name="%category.dbbrowser.name">
      </category>
      <command
            categoryId="com.devepos.adt.saat.dbbrowser.commands.category"
            id="com.devepos.adt.saat.dbbrowser.command.openDbBrowser"
            name="%command.opendbbrowser.name">
      </command>
      <command
            categoryId="com.devepos.adt.saat.cdsanalysis.commands.category"
            id="com.devepos.adt.saat.cdsanalysis.command.performCdsTopDown"
            name="%command.cdstopdown.name">
      </command>
      <command
            categoryId="com.devepos.adt.saat.cdsanalysis.commands.category"
            id="com.devepos.adt.saat.cdsanalysis.command.performWhereUsedInCds"
            name="%command.whereusedincds.name">
      </command>
      <command
            categoryId="com.devepos.adt.saat.cdsanalysis.commands.category"
            id="com.devepos.adt.saat.cdsanalysis.command.performCdsUsedEntities"
            name="%command.cdsusedentities.name">
      </command>
      <command
            categoryId="com.devepos.adt.saat.cdsanalysis.commands.category"
            id="com.devepos.adt.saat.cdsanalysis.command.performFieldAnalysis"
            name="%command.fieldanalysis.name">
      </command>
      <category
            id="com.devepos.adt.saat.cdsanalysis.commands.category"
            name="%category.cdsanalysis.name">
      </category>
      <category
            id="com.devepos.adt.saat.objectsearch.commands.category"
            name="%category.objectsearch.name">
      </category>
      <command
            categoryId="com.sap.adt.ris.search.ui.commands.category"
            id="com.devepos.adt.saat.search.command.runWhereUsedForObject"
            name="%command.search.runWhereUsedQuery.name">
      </command>
      <command
            categoryId="com.devepos.adt.saat.objectsearch.commands.category"
            id="com.devepos.adt.saat.objectsearch.command.openSearchDialog"
            name="%command.objectsearch.opendialog.name">
      </command>
      <command
            categoryId="com.devepos.adt.saat.objectsearch.commands.category"
            id="com.devepos.adt.saat.objectsearch.command.manageFavorites"
            name="%command.objectsearch.showFavorites.name">
      </command>
      <command
            categoryId="com.devepos.adt.saat.cdsanalysis.commands.category"
            id="com.devepos.adt.saat.cdsanalysis.command.runCdsAnalysis"
            name="%command.runCdsAnalysis.name">
      </command>
   </extension>
   <extension
         id="com.devepos.adt.saat.search.command.runWhereUsedForObject"
         point="org.eclipse.ui.handlers">
      <handler
            class="com.devepos.adt.saat.internal.handlers.OpenInDbBrowserHandler"
            commandId="com.devepos.adt.saat.dbbrowser.command.openInDbBrowser">
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.OpenDbBrowserHandler"
            commandId="com.devepos.adt.saat.dbbrowser.command.openDbBrowser">
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.PerformCdsTopDownAnalysisHandler"
            commandId="com.devepos.adt.saat.cdsanalysis.command.performCdsTopDown">
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.PerformCdsUsedEntitiesAnalysisHandler"
            commandId="com.devepos.adt.saat.cdsanalysis.command.performCdsUsedEntities">
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.PerformWhereUsedInCdsAnalysisHandler"
            commandId="com.devepos.adt.saat.cdsanalysis.command.performWhereUsedInCds">
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.PerformFieldAnalysisHandler"
            commandId="com.devepos.adt.saat.cdsanalysis.command.performFieldAnalysis">
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.RunWhereUsedQueryHandler"
            commandId="com.devepos.adt.saat.search.command.runWhereUsedForObject">
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.OpenObjectSearchDialogHandler"
            commandId="com.devepos.adt.saat.objectsearch.command.openSearchDialog">
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.OpenObjectSearchFavoritesHandler"
            commandId="com.devepos.adt.saat.objectsearch.command.manageFavorites">
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.RunCdsAnalysisHandler"
            commandId="com.devepos.adt.saat.cdsanalysis.command.runCdsAnalysis">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.sap.adt.ris.search.ui.toolbar">
         <command
               commandId="com.devepos.adt.saat.dbbrowser.command.openDbBrowser"
               icon="icons/DBBrowser.png"
               id="com.devepos.adt.saat.ui.toolBar"
               style="push"
               tooltip="Open DB Browser">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.sap.adt.tools.core.ui.toolsActive">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=com.sap.adt.datapreview.ui.opendatapreview.fromproject">
         <command
               commandId="com.devepos.adt.saat.dbbrowser.command.openDbBrowser"
               icon="icons/DBBrowser.png"
               id="com.devepos.adt.saat.menus.openindbbrowser"
               label="%menuContribution.opendbbrowser.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.sap.adt.abapnature">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#EditorContext?after=group.open">
         <dynamic
               class="com.devepos.adt.saat.internal.menu.DynamicOpenInMenu"
               id="com.devepos.adt.saat.editor.openInDynamicMenu">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorInput">
                  <adapt
                        type="com.devepos.adt.base.ui.adtobject.IAdtObject">
                  </adapt>
               </with>
            </visibleWhen>
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?endof=group.open">
         <dynamic
               class="com.devepos.adt.saat.internal.menu.DynamicOpenInMenu"
               id="com.devepos.adt.saat.projectExplorer.openInDynamicMenu">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="and">
                     <adapt
                           type="com.devepos.adt.base.ui.adtobject.IAdtObject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.devepos.adt.saat.search"
               label="ABAP Search and Analysis">
            <command
                  commandId="com.devepos.adt.saat.search.command.runWhereUsedForObject"
                  icon="icons/RunWhereUsed.png"
                  label="%command.search.runWhereUsedQuery.name"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.sap.adt.tools.core.ui.toolsActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="com.devepos.adt.saat.objectsearch.command.openSearchDialog"
                  icon="icons/ABAPSearch.png"
                  label="%command.objectsearch.opendialog.name"
                  style="pulldown">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.sap.adt.tools.core.ui.toolsActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="com.devepos.adt.saat.objectsearch.command.manageFavorites"
                  icon="icons/ABAPSearchFavorites.png"
                  label="%command.objectsearch.showFavorites.name"
                  style="pulldown">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.sap.adt.tools.core.ui.toolsActive">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="com.devepos.adt.saat.cdsanalysis.command.runCdsAnalysis"
                  icon="icons/RunCdsAnalysis.png"
                  label="%command.runCdsAnalysis.name"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="com.sap.adt.tools.core.ui.toolsActive">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.devepos.adt.saat.objectsearch.command.manageFavorites">
         <dynamic
               class="com.devepos.adt.saat.internal.menu.ManageSearchFavoritesMenu"
               id="com.devepos.adt.saat.objectsearch.dynamicFavoriteMenu">
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.devepos.adt.saat.objectsearch.command.openSearchDialog">
         <dynamic
               class="com.devepos.adt.saat.internal.menu.ObjectSearchModesMenu"
               id="com.devepos.adt.saat.objectsearch.dynamicSearchMenu">
         </dynamic>
      </menuContribution>
   </extension>
     <extension
           point="org.eclipse.ui.preferencePages">
        <page
              category="com.devepos.adt.preferences"
              class="com.devepos.adt.saat.internal.preferences.MainPreferencePage"
              id="com.devepos.adt.saat.ui.prefs.MainPreferences"
              name="%preferencepage.main.name">
        </page>
        <page
              category="com.devepos.adt.saat.ui.prefs.MainPreferences"
              class="com.devepos.adt.saat.internal.preferences.ObjectSearchPreferencePage"
              id="com.devepos.adt.saat.ui.prefs.ObjectSearchPreferences"
              name="%preferencepage.search.name">
        </page>
        <page
              category="com.devepos.adt.saat.ui.prefs.MainPreferences"
              class="com.devepos.adt.saat.internal.preferences.CdsAnalysisPreferencePage"
              id="com.devepos.adt.saat.ui.prefs.CdsAnalysisPreferences"
              name="%preferencepage.cdsanalysis.name">
        </page>
     </extension>
     <extension
           point="org.eclipse.core.runtime.preferences">
        <initializer
              class="com.devepos.adt.saat.internal.preferences.PreferenceInitializer">
        </initializer>
     </extension>
     <extension
           point="org.eclipse.ui.views">
        <view
              category="com.devepos.adt"
              class="com.devepos.adt.saat.internal.cdsanalysis.ui.CdsAnalysisView"
              icon="icons/CdsAnalyzerView.png"
              id="com.devepos.adt.saat.views.cdsanalyzer"
              name="%view.cdsanalysis.name"
              restorable="true">
        </view>
     </extension>
     <extension
           point="org.eclipse.search.searchPages">
        <page
              class="com.devepos.adt.saat.internal.search.ui.ObjectSearchPage"
              icon="icons/ABAPSearch.png"
              id="com.devepos.adt.saat.ObjectSearchPage"
              label="%searchpage.objectsearch.name"
              searchViewHelpContextId="com.devepos.searchandanalysistools.object_search"
              tabPosition="1">
        </page>
     </extension>
     <extension
           point="org.eclipse.search.searchResultViewPages">
        <viewPage
              class="com.devepos.adt.saat.internal.search.ui.ObjectSearchResultPage"
              helpContextId="com.devepos.adt.searchandanalysistools.doc.object_search"
              icon="icons/ABAPSearch.png"
              id="com.devepos.adt.saat.internal.search.ui.ObjectSearchResultPage"
              searchResultClass="com.devepos.adt.saat.internal.search.ui.ObjectSearchResult">
        </viewPage>
     </extension>
     <extension
           point="org.eclipse.ui.themes">
        <colorDefinition
              categoryId="com.devepos.adt.saat.cdsanalysis"
              id="com.devepos.adt.saat.cdsanalysis.AliasNameForegroundColor"
              label="%colorDefinition.sqlEntityAliasForegroundColor.label"
              value="128,128,128">
        </colorDefinition>
        <themeElementCategory
              id="com.devepos.adt.saat"
              label="%themeElementCategory.label">
        </themeElementCategory>
        <themeElementCategory
              id="com.devepos.adt.saat.cdsanalysis"
              label="%themeElementCategory.cdsanalysis.label"
              parentId="com.devepos.adt.saat">
        </themeElementCategory>
     </extension>
     <extension
           point="com.sap.adt.activation.ui.activationSuccessListener">
        <onActivationSuccess
            class="com.devepos.adt.saat.internal.activation.CdsActivationSuccessListener">
        </onActivationSuccess>
     </extension>
</plugin>
