<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.devepos.adt.saat.dbbrowser.commands.category"
            id="com.devepos.adt.saat.dbbrowser.command.openInDbBrowser"
            name="%command.openindbbrowser.name">
         <commandParameter
               id="com.devepos.adt.saat.openindbbrowser.skipSelscreenParam"
               name="skipSelscreen"
               optional="false"
               values="com.devepos.adt.saat.internal.handlers.OpenInDbBrowserParamValues">
         </commandParameter>
      </command>
      <category
            id="com.devepos.adt.saat.dbbrowser.commands.category"
            name="%category.dbbrowser.name">
      </category>
      <command
            categoryId="com.devepos.adt.saat.dbbrowser.commands.category"
            id="com.devepos.adt.saat.dbbrowser.command.openDbBrowser"
            name="%command.opendbbrowser.name">
      </command>
      <command
            categoryId="com.devepos.adt.saat.cdsanalysis.commands.category"
            id="com.devepos.adt.saat.cdsanalysis.command.performCdsTopDown"
            name="%command.cdstopdown.name">
      </command>
      <command
            categoryId="com.devepos.adt.saat.cdsanalysis.commands.category"
            id="com.devepos.adt.saat.cdsanalysis.command.performWhereUsedInCds"
            name="%command.whereusedincds.name">
      </command>
      <command
            categoryId="com.devepos.adt.saat.cdsanalysis.commands.category"
            id="com.devepos.adt.saat.cdsanalysis.command.performCdsUsedEntities"
            name="%command.cdsusedentities.name">
      </command>
      <command
            categoryId="com.devepos.adt.saat.cdsanalysis.commands.category"
            id="com.devepos.adt.saat.cdsanalysis.command.performFieldAnalysis"
            name="%command.fieldanalysis.name">
      </command>
      <category
            id="com.devepos.adt.saat.cdsanalysis.commands.category"
            name="%category.cdsanalysis.name">
      </category>
      <category
            id="com.devepos.adt.saat.objectsearch.commands.category"
            name="%category.objectsearch.name">
      </category>
      <command
            categoryId="com.devepos.adt.saat.objectsearch.commands.category"
            id="com.devepos.adt.saat.objectsearch.command.openInDialog"
            name="%command.objectsearch.openindialog.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.devepos.adt.saat.internal.handlers.OpenInDbBrowserHandler"
            commandId="com.devepos.adt.saat.dbbrowser.command.openInDbBrowser">
         <enabledWhen>
            <reference
                  definitionId="com.sap.adt.project.ui.adtActive">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.OpenDbBrowserHandler"
            commandId="com.devepos.adt.saat.dbbrowser.command.openDbBrowser">
         <activeWhen>
            <reference
                  definitionId="com.sap.adt.project.ui.adtActive">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.PerformCdsTopDownAnalysisHandler"
            commandId="com.devepos.adt.saat.cdsanalysis.command.performCdsTopDown">
         <enabledWhen>
            <reference
                  definitionId="com.sap.adt.project.ui.adtActive">
            </reference>
         
         </enabledWhen>
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.PerformCdsUsedEntitiesAnalysisHandler"
            commandId="com.devepos.adt.saat.cdsanalysis.command.performCdsUsedEntities">
         <enabledWhen>
            <reference
                  definitionId="com.sap.adt.project.ui.adtActive">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.PerformWhereUsedInCdsAnalysisHandler"
            commandId="com.devepos.adt.saat.cdsanalysis.command.performWhereUsedInCds">
         <enabledWhen>
            <reference
                  definitionId="com.sap.adt.project.ui.adtActive">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.PerformFieldAnalysisHandler"
            commandId="com.devepos.adt.saat.cdsanalysis.command.performFieldAnalysis">
         <enabledWhen>
            <reference
                  definitionId="com.sap.adt.project.ui.adtActive">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="com.devepos.adt.saat.internal.handlers.OpenInSearchDialogHandler"
            commandId="com.devepos.adt.saat.objectsearch.command.openInDialog">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.search2.internal.ui.SearchView">
               </instanceof>
            </with></enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.sap.adt.ris.search.ui.toolbar">
         <command
               commandId="com.devepos.adt.saat.dbbrowser.command.openDbBrowser"
               icon="icons/DBBrowser.png"
               id="com.devepos.adt.saat.ui.toolBar"
               style="push"
               tooltip="Open DB Browser">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.sap.adt.project.ui.adtActive">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=com.sap.adt.datapreview.ui.opendatapreview.fromproject">
         <command
               commandId="com.devepos.adt.saat.dbbrowser.command.openDbBrowser"
               icon="icons/DBBrowser.png"
               id="com.devepos.adt.saat.menus.openindbbrowser"
               label="%command.opendbbrowser.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="com.sap.adt.abapnature">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#EditorContext?after=group.open">
         <dynamic
               class="com.devepos.adt.saat.internal.ui.DynamicOpenInMenu"
               id="com.devepos.adt.saat.editor.openInDynamicMenu">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorInput">
                  <adapt
                        type="com.devepos.adt.saat.internal.util.IAdtObject">
                  </adapt>
               </with>
            </visibleWhen>
         </dynamic>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?endof=group.open">
         <dynamic
               class="com.devepos.adt.saat.internal.ui.DynamicOpenInMenu"
               id="com.devepos.adt.saat.projectExplorer.openInDynamicMenu">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="and">
                     <adapt
                           type="com.devepos.adt.saat.internal.util.IAdtObject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>
     <extension
           point="org.eclipse.ui.preferencePages">
        <page
              class="com.devepos.adt.saat.internal.preferences.MainPreferencePage"
              id="com.devepos.adt.saat.ui.internal.MainPreferencePage"
              name="%preferencepage.name">
        </page>
     </extension>
     <extension
           point="org.eclipse.core.runtime.preferences">
        <initializer
              class="com.devepos.adt.saat.internal.preferences.PreferenceInitializer">
        </initializer>
     </extension>
     <extension
           point="org.eclipse.core.expressions.propertyTesters">
     </extension>
     <extension
           point="org.eclipse.ui.views">
        <view
              category="com.sap.adt.views"
              class="com.devepos.adt.saat.internal.cdsanalysis.ui.CdsAnalysis"
              icon="icons/CdsAnalyzerView.png"
              id="com.devepos.adt.saat.views.cdsanalyzer"
              name="%view.cdsanalysis.name"
              restorable="true">
        </view>
     </extension>
     <extension
           point="org.eclipse.core.runtime.adapters">
        <factory
              adaptableType="java.lang.Object"
              class="com.devepos.adt.saat.internal.util.DataPreviewAdtObjectAdapterFactory">
           <adapter
                 type="com.devepos.adt.saat.internal.util.IAdtObject">
           </adapter>
        </factory>
     </extension>
     <extension
           point="org.eclipse.search.searchPages">
        <page
              class="com.devepos.adt.saat.internal.search.ui.ObjectSearchPage"
              icon="icons/ABAPSearch.png"
              id="com.devepos.adt.saat.ObjectSearchPage"
              label="%searchpage.objectsearch.name"
              tabPosition="1">
        </page>
     </extension>
     <extension
           point="org.eclipse.search.searchResultViewPages">
        <viewPage
              class="com.devepos.adt.saat.internal.search.ui.ObjectSearchResultPage"
              icon="icons/ABAPSearch.png"
              id="com.devepos.adt.saat.internal.search.ui.ObjectSearchResultPage"
              searchResultClass="com.devepos.adt.saat.internal.search.ui.ObjectSearchResult">
        </viewPage>
     </extension>
     <extension
           point="org.eclipse.core.expressions.definitions">
     </extension>
     <extension
           point="org.eclipse.ui.bindings">
        <key
              commandId="com.devepos.adt.saat.objectsearch.command.openInDialog"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M1+O">
        </key>
     </extension>
</plugin>
