<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated search-favorites -->
      <package
            uri="https://www.devepos.com/adt/objectsearch/favorites"
            class="com.devepos.adt.saat.model.objectsearchfavorites.IObjectSearchFavoritesPackage"
            genModel="model/search-favorites.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated search-favorites -->
      <parser
            type="objectsearchfavorites"
            class="com.devepos.adt.saat.model.objectsearchfavorites.util.ObjectSearchFavoritesResourceFactoryImpl"/>
   </extension>
</plugin>
